.content-wrapper > .rrs-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;

  > .form-wrapper {

    > * {
      display: flex;
      align-items: center;
      padding: 8px;
    }

    > form {
      display: flex;
      flex-direction: column;
      justify-content: left;
      gap: 16px;

      > label {
        display: flex;
        gap: 8px;
      }

      > .btn-wrapper {
        margin-top: 42px;
        display: flex;
        justify-content: center;
        gap: 32px;

        > button {
          border: none;
          border-radius: 8px;
          background-color: rgba(0, 255, 18, 0.8);
          width: 64px;
          height: 32px;
          color: rgba(255, 255, 255, 5);
        }
      }
    }
  }

  > .table-data-wrapper {
    > table {
      border: 2px solid rgba(0, 0, 0, 1);
      border-collapse: collapse;

      > thead > tr > th {
        border: 2px solid rgba(0, 0, 0, 1);
        border-collapse: collapse;
        height: 32px;
        padding: 8px;
      }

      > tbody > tr > td {
        border: 2px solid rgba(0, 0, 0, 1);
        border-collapse: collapse;
        height: 32px;
        padding: 8px;
        text-align: center;
      }
    }
  }
}
